In [245]:
import pandas as pd
import numpy as np

In [246]:
main_index = []
sub_index = []
colum_1 = []
colum_2 = []
for i in range(10,23,3):
    file_number = 2000 + i
    file_path = f'.\data\처방조제수_{file_number}.xls'
    data = pd.read_excel(file_path, header=None)
    row_data = data.iloc[6]
    main_index.append(row_data.drop(0).tolist())
    row_data = data.iloc[7]
    sub_index.append(row_data.drop(0).tolist())
    row_data = data.iloc[8]
    colum_1.append(row_data.drop(0).tolist())
    row_data = data.iloc[9]
    colum_2.append(row_data.drop(0).tolist())

main_index = [item for sublist in main_index for item in sublist]
sub_index = [item for sublist in sub_index for item in sublist]
colum_1 = [item for sublist in colum_1 for item in sublist]
colum_2 = [item for sublist in colum_2 for item in sublist]

arrays1 = [main_index,sub_index]
arrays2 = [colum_1,colum_2]
tuples = list(zip(*arrays1))
data_tuples = list(zip(*arrays2))
index = pd.MultiIndex.from_tuples(tuples)
columns = pd.MultiIndex.from_tuples([('직접조제', '명','개','원'), ('처방조제', '명','개','원')])
df1 = pd.DataFrame(data_tuples, index=index, columns=columns)
df1

                 직접조제       처방조제
                    명          명
                    개          개
                    원          원
2010년 01월 환자수      88     18,439
          수량    5,052  3,146,476
          사용금액    342    748,611
2010년 02월 환자수      77     17,620
          수량    4,274  2,972,166
...               ...        ...
2022년 07월 수량    2,865  4,282,261
          사용금액    239  1,499,369
2022년 08월 환자수      68     23,651
          수량    3,651  4,522,492
          사용금액    297  1,583,288

[456 rows x 2 columns]

In [247]:
# 넌파이 사용

# 인덱스와 컬럼을 담을 리스트 생성
main_index = []
sub_index = []
colum_1 = []
colum_2 = []

# 파일을 불러와 리스트에 담음
for i in range(10,23,3):
    # 파일 번호가 다른것을 이용해 루프 만들기
    file_number = 2000 + i
    file_path = f'.\data\처방조제수_{file_number}.xls'
    
    # 판다스로 엑셀 불러오기
    data = pd.read_excel(file_path, header=None)
    
    # 엑셀의 행에서 인덱스값과 컬럼값을 리스트에 저장하기.
    row_data = data.iloc[6]
    main_index.append(row_data.drop(0).values)
    row_data = data.iloc[7]
    sub_index.append(row_data.drop(0).values)
    row_data = data.iloc[8]
    colum_1.append(row_data.drop(0).values)
    row_data = data.iloc[9]
    colum_2.append(row_data.drop(0).values)

# 리스트에 저장한 데이터를 하나의 데이터로 평탄화해줌
main_index = np.concatenate(main_index)
sub_index = np.concatenate(sub_index)
colum_1 = np.concatenate(colum_1)
colum_2 = np.concatenate(colum_2)

# 인덱스는 인덱스끼리, 컬럼은 컬럼끼리 묶어줌.
arrays1 = [main_index,sub_index]
arrays2 = [colum_1,colum_2]

# 각 인덱스와 컬럼을 zip으로 묶어줌
tuples = list(zip(*arrays1))
data_tuples = list(zip(*arrays2))

# 인덱스와 칼럼을 멀티플인덱스에 할당해줌.
index = pd.MultiIndex.from_tuples(tuples)
columns = pd.MultiIndex.from_tuples([('직접조제', '명','개','원'), ('처방조제', '명','개','원')])

# 데이터프레임으로 데이터를 불러옴
df2 = pd.DataFrame(data_tuples, index=index, columns=columns)
df2

                 직접조제       처방조제
                    명          명
                    개          개
                    원          원
2010년 01월 환자수      88     18,439
          수량    5,052  3,146,476
          사용금액    342    748,611
2010년 02월 환자수      77     17,620
          수량    4,274  2,972,166
...               ...        ...
2022년 07월 수량    2,865  4,282,261
          사용금액    239  1,499,369
2022년 08월 환자수      68     23,651
          수량    3,651  4,522,492
          사용금액    297  1,583,288

[456 rows x 2 columns]

In [248]:
# 약효별 분류

main_index = []
sub_index = []
colum_1 = []
colum_2 = []
for i in range(16,23,3):
    file_number = 2000 + i
    file_path = f'.\data\약효분류별_빈도_{file_number}.xls'
    data = pd.read_excel(file_path, header=None)
    row_data = data.iloc[6]
    main_index.append(row_data.drop(index=[0, 1]).values)
    row_data = data.iloc[7]
    sub_index.append(row_data.drop(index=[0, 1]).values)
    row_data = data.iloc[12]
    colum_1.append(row_data.drop(index=[0, 1]).values)
    row_data = data.iloc[39]
    colum_2.append(row_data.drop(index=[0, 1]).values)

main_index = np.concatenate(main_index)
sub_index = np.concatenate(sub_index)
colum_1 = np.concatenate(colum_1)
colum_2 = np.concatenate(colum_2)

arrays1 = [main_index,sub_index]
arrays2 = [colum_1,colum_2]
tuples = list(zip(*arrays1))
data_tuples = list(zip(*arrays2))
index = pd.MultiIndex.from_tuples(tuples)
columns = pd.MultiIndex.from_tuples([('해열·진통·소염제','개','원'), ('진해거담제','개','원')])
df3 = pd.DataFrame(data_tuples, index=index, columns=columns)
df3

               해열·진통·소염제      진해거담제
                       개          개
                       원          원
2016년 01월 수량     389,604  1,015,296
          사용금액    57,721     37,783
2016년 02월 수량     440,362  1,185,599
          사용금액    59,913     41,882
2016년 03월 수량     432,212  1,042,744
...                  ...        ...
2022년 12월 사용금액    20,254     57,332
2023년 01월 수량      38,845    354,922
          사용금액     8,443     35,994
2023년 02월 수량         414      3,491
          사용금액        94        305

[172 rows x 2 columns]

In [249]:
# data에 있는 ,를 제거 후 int로 변환해줌
df2 = df2.astype(str).apply(lambda x: x.str.replace(',', '')).astype(int)
df2 = df2.astype(int)
df3 = df3.astype(str).apply(lambda x: x.str.replace(',', '')).astype(int)
df3 = df3.astype(int)

In [250]:
df2['총 환자수'] = df2.sum(axis=1)
df2

                직접조제     처방조제    총 환자수
                   명        명
                   개        개
                   원        원
2010년 01월 환자수     88    18439    18527
          수량    5052  3146476  3151528
          사용금액   342   748611   748953
2010년 02월 환자수     77    17620    17697
          수량    4274  2972166  2976440
...              ...      ...      ...
2022년 07월 수량    2865  4282261  4285126
          사용금액   239  1499369  1499608
2022년 08월 환자수     68    23651    23719
          수량    3651  4522492  4526143
          사용금액   297  1583288  1583585

[456 rows x 3 columns]

In [251]:
df3['총 판매량'] = df3.sum(axis=1)
df3

               해열·진통·소염제    진해거담제    총 판매량
                       개        개
                       원        원
2016년 01월 수량      389604  1015296  1404900
          사용금액     57721    37783    95504
2016년 02월 수량      440362  1185599  1625961
          사용금액     59913    41882   101795
2016년 03월 수량      432212  1042744  1474956
...                  ...      ...      ...
2022년 12월 사용금액     20254    57332    77586
2023년 01월 수량       38845   354922   393767
          사용금액      8443    35994    44437
2023년 02월 수량         414     3491     3905
          사용금액        94      305      399

[172 rows x 3 columns]

In [252]:
df2_pre = df2.loc[:'2019년 12월',:]['총 환자수'].xs('환자수', level=1)
df2_pre

2010년 01월    18527
2010년 02월    17697
2010년 03월    20363
2010년 04월    21273
2010년 05월    19984
             ...
2019년 08월    21510
2019년 09월    22176
2019년 10월    23306
2019년 11월    23122
2019년 12월    24291
Name: 총 환자수, Length: 120, dtype: int64

In [253]:
df3_pre = df3.loc[:'2019년 12월', :]['총 판매량'].xs('수량', level=1)
df3_pre

2016년 01월    1404900
2016년 02월    1625961
2016년 03월    1474956
2016년 04월    1348524
2016년 05월    1192286
2016년 06월     927587
2016년 07월     780780
2016년 08월     761312
2016년 09월     882302
2016년 10월     872425
2016년 11월     978482
2016년 12월    1306162
2017년 01월     901528
2017년 02월     759911
2017년 03월     925179
2017년 04월     948462
2017년 05월     860108
2017년 06월     736793
2017년 07월     686457
2017년 08월     669688
2017년 09월     828390
2017년 10월     746871
2017년 11월     932343
2017년 12월    1135715
2018년 01월    1114168
2018년 02월     772948
2018년 03월     834053
2018년 04월     905019
2018년 05월     874239
2018년 06월     723135
2018년 07월     673103
2018년 08월     627274
2018년 09월     754848
2018년 10월     888740
2018년 11월     998745
2018년 12월    1181696
2019년 01월    1082569
2019년 02월     745975
2019년 03월     859239
2019년 04월     934667
2019년 05월     917175
2019년 06월     813536
2019년 07월     879326
2019년 08월     854915
2019년 09월     844221
2019년 10월     888974
2019년 11월     966468
2019년 12월     964549
Name: 총 판매량, dtype: int64

In [254]:
# 코로나 이전 월별 총 환자 수
mean_list = []
month_list = []
for i in range(1,13):
    data_mean = 0
    for j in range(10):
        data_mean += df2_pre.loc[f'201{j}년 {i:02d}월']
    month_list.append(f'{i:02d}월')
    mean_list.append(int(data_mean/10))

In [255]:
# 코로나 이전 월별 총 판매량
mean_list2 = []
for i in range(1,13):
    data_mean = 0
    for j in range(6,10):
        data_mean += df3_pre.loc[f'201{j}년 {i:02d}월']
    mean_list2.append(int(data_mean/4))

In [261]:
Pre_average = pd.DataFrame({'환자수': mean_list, '판매량' : mean_list2}, index=month_list)
Pre_average

       환자수      판매량
01월  21127  1125791
02월  20161   976198
03월  21665  1023356
04월  21811  1034168
05월  21239   960952
06월  19908   800262
07월  19947   754916
08월  20053   728297
09월  21225   827440
10월  21458   849252
11월  21644   969009
12월  22701  1147030

In [257]:
df2_post_2020 = df2.loc['2020년 01월':'2020년 12월',:]['총 환자수'].xs('환자수', level=1)
df2_post_2021 = df2.loc['2021년 01월':'2021년 12월',:]['총 환자수'].xs('환자수', level=1)
df2_post_2022 = df2.loc['2022년 01월':'2022년 08월',:]['총 환자수'].xs('환자수', level=1)

In [258]:
df3_post_2020 = df3.loc['2020년 01월':'2020년 12월',:]['총 판매량'].xs('수량', level=1)
df3_post_2021 = df3.loc['2021년 01월':'2021년 12월',:]['총 판매량'].xs('수량', level=1)
df3_post_2022 = df3.loc['2022년 01월':'2022년 12월',:]['총 판매량'].xs('수량', level=1)
df3_post_2023 = df3.loc['2023년 01월']['총 판매량']['수량']
df3_post_2023

393767

In [273]:
df2_2020_val = df2_post_2020.values - Pre_average['환자수'].values
df2_2021_val = df2_post_2021.values - Pre_average['환자수'].values
df2_2022_val = df2_post_2022.values - Pre_average['환자수'][:8].values
df2_post = np.concatenate((df2_2020_val, df2_2021_val, df2_2022_val))

In [275]:
df3_2020_val = df3_post_2020.values - Pre_average['판매량'].values
df3_2021_val = df3_post_2021.values - Pre_average['판매량'].values
df3_2022_val = df3_post_2022.values - Pre_average['판매량'].values
df3_2023_val = df3_post_2023 - Pre_average['판매량'][0]
df3_post = np.concatenate((df3_2020_val, df3_2021_val, df3_2022_val, [df3_2023_val]))

In [276]:
df2_post

array([ 2422,  -131, -3467, -3654, -1595,   239,   260,  -679, -1310,
       -1676, -1315, -3127, -3005, -2279, -1107,  -831, -1064,   701,
         342,  -127,  -582,  -273,   570, -1263,  -719,   362,  4195,
        1907,   852,  1259,  2625,  3666], dtype=int64)